.alfabeto {
  background-image: url("../../media/icons/alfabeto-bg.png");
  background-repeat: repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  // background-color: #89C77A;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 50px;

  @media screen and (min-width: 0px) and (max-width: 1020px) {
    grid-template-columns: 1fr;
  }

  .item {
    img {
      height: 100%;
      width: 100%;
    }

    img:hover {
      transform: scale(1.6); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
  }

}